@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
body {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}
header,
main,
footer {
    background-color: aqua;
    text-align: center;
}
header{
    padding: 10px
}
main{
    background-color: lightgray;
}
#images{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
h1 {
    text-align: center;
}
#options{
    display: inline;
    text-align: center;
    margin-bottom: 30px;
}
#menu{
    display: none;
    margin-bottom: 5px;
}
a{
    margin-bottom: 30px;
}

footer {
    text-align: center;
}
img{
    object-fit: cover;
    margin: auto;
    height: 300px;
    width: 300px;
    align-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 5px solid white;
}

@media screen and (max-width: 1000px) {
    #images{
        grid-template-columns: 1fr 1fr;
    }
    #options{
        display: none;
    }
    #menu{
        display: inline;
        text-align: center;
        margin-bottom: 5px;
    }
}
@media screen and (max-width: 700px) {
    #images{
        grid-template-columns: 1fr;
    }
    #options{
        display: none;
    }
    #menu{
        display: inline;
        text-align: center;
        margin-bottom: 5px;
    }
}
