h1, h2, p{
    width: 50%;
    margin: 0 auto;
}
h1, h2{
    text-align: center;
}
h1{
    font-size: 2.5em;
}
h2{
    margin-top: 25px;
    font-size: 1em;
    color: cornflowerblue;
}
hr{
    width: 50%;
    margin-bottom: 50px;
}
img{
    width: 10%;
    display: block;
    margin: 50px auto;
}
#italics{
    font-style: italic;
}
.list{
    width:50%;
    margin: 0 auto;
}
p, li{
    line-height: 1.5em;
    margin-bottom: .75em;
}
body{
    border: 1px solid black;
}